.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}
img{
    border-radius: 50%;
    width: 150px;   
    height: 150px;
    object-fit: contain;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
h4{
    color:rgb(15, 134, 173);
    font-weight: bold;
}